@font-face {
    font-family: 'Proxima Nova';
    src: url(https://toolassets.haptikapi.com/platform/assets/proxima-nova/ProximaNova-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(https://toolassets.haptikapi.com/platform/assets/proxima-nova/ProximaNova-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(https://toolassets.haptikapi.com/platform/assets/proxima-nova/ProximaNova-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(https://toolassets.haptikapi.com/platform/assets/proxima-nova/ProximaNova-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(https://toolassets.haptikapi.com/platform/assets/proxima-nova/ProximaNova-ExtraBold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url(https://toolassets.haptikapi.com/platform/assets/proxima-nova/ProximaNova-Black.woff2) format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}